#game {
    background-color: rgb(78, 192, 202);
}

.score {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: 600;
}

#counting {
    margin-left: 150px;
    margin-top: 10px;
}

#result {
    width: 60px;
    text-align: right;
    font-size: 35px;
    margin-left: 215px;
    margin-top: 227px;
}

#record {
    width: 60px;
    text-align: right;
    font-size: 35px;
    margin-left: 215px;
    margin-top: 282px;
}